<footer class="footer">
  <div class="listelement">
    <h4>FamilyTime<i class="icon-angle-down"></i></h4>
    <ul class="content-footer f-menu">
      <li> <a href="//familytime.io/">Home</a></li>
      <li> <a href="/premium.html">FamilyTime Premium</a></li>
      <li> <a href="https://blog.familytime.io">FamilyTime Blog</a></li>
      <li> <a href="/affiliate-program.html">Affiliates and Partners</a></li>
      <li> <a href="/contact-us.html">Contact Us</a></li>
    </ul>
  </div>
  <div class="listelement">
    <h4>Why FamilyTime<i class="icon-angle-down"></i></h4>
    <ul class="content-footer f-menu">
      <li></li>
      <li> <a href="/for-parents.html">For Parents</a></li>
      <li> <a href="/for-co-parents.html">For Co-Parents</a></li>
      <li> <a href="/for-children.html">For Kids</a></li>
      <li> <a href="/parental-controls-for-android.html">For Android</a></li>
      <li> <a href="/features/ios.html">For iOS</a></li>
      <li> <a href="/schools/">For Schools</a></li>
    </ul>
  </div>
  <div class="listelement">
    <h4>Features<i class="icon-angle-down"></i></h4>
    <ul class="content-footer f-menu">
      <li></li>
      <li> <a href="/internet-filter.html">Internet Filter</a></li>
      <li> <a href="/features/family-locator.html">Family Locator</a></li>
      <li> <a href="features/android-app-blocker.html">App Blocker For Android</a></li>
      <li> <a href="features/ios-app-blocker.html">App Blocker For iOS</a></li>
      <li> <a href="features/limit-screen-time-for-android.html">Limit Screen Time For Android</a></li>
      <li> <a href="features/limit-screen-time-for-ios.html">Limit Screen Time For iOS</a></li>
      <li> <a href="/features/sos-panic-alert.html">SOS/Panic Button</a></li>
    </ul>
  </div>
  <div class="listelement">
    <h4>Help<i class="icon-angle-down"></i></h4>
    <ul class="content-footer f-menu">
      <li></li>
      <li> <a href="/support.html">Customer Help</a></li>
      <li> <a href="/kb/">Knowledge Base</a></li>
      <li> <a href="help/faqs.html">FAQs</a></li>
      <li> <a href="/how-to-install/">How to Install FamilyTime</a></li>
      <li> <a href="/how-it-works.html">How FamilyTime Works</a></li>
    </ul>
  </div>
  <div class="listelement">
    <h4>Privacy<i class="icon-angle-down"></i></h4>
    <ul class="content-footer f-menu">
      <li></li>
      <li> <a href="legal/terms-conditions.html">Terms & Use</a></li>
      <li> <a href="legal/app-privacy-policy.html">App Privacy Policy</a></li>
      <li> <a href="legal/privacy-policy.html">Privacy Policy</a></li>
      <li> <a href="legal/cookie-policy.html">Cookie Policy</a></li>
      <li> <a href="legal/disclaimer.html">Disclaimer</a></li>
    </ul>
  </div>
  <div class="footer-text">
    <div class="copy-right">
      <div class="payment-b"><i class="payment-b__i sp-py_vi"></i> <i class="payment-b__i sp-py_mc"></i> <i
          class="payment-b__i sp-py_ae"></i> <i class="payment-b__i sp-py_pp"></i> <i class="payment-b__i sp-py_ds"></i>
        <i class="payment-b__i sp-py_db"></i> <i class="payment-b__i sp-py_bw"></i> <i
          class="payment-b__i sp-py_jb"></i></div>

      <!--  <a href="https://www.kidsafeseal.com/certifiedproducts/familytime_app.html" target="_blank" class="kidsafe"><img width="110" alt="FamilyTime - Parental Control is listed by the kidSAFE Seal Program." src="https://www.kidsafeseal.com/sealimage/486528797928070114/familytime_app_medium_darktm.png"/></a> -->

    </div>
    <div class="footer-text-right">
      <div class="a-button push-10-t"><a href="https://apps.apple.com/us/app/id981066103"
          class="button push-10 store push-5-r" style="padding:7px 8px"><img alt="Get Parental Control on App store"
            src="img/app-store.svg" width="163" class="img-responsive" style="width:100px"
            title="iPhone Parental Control" /></a><a
          href="https://play.google.com/store/apps/details?id=io.familytime.dashboard" class="button push-10 store"
          style="padding:7px 8px"><img alt="Get Parental Control on App store" src="img/google-play.svg" width="163"
            class="img-responsive" style="width:100px" title="Android Parental Control" /></a></div>
      <div class="socials-icon"> <a href="https://twitter.com/FamilyTime_App" title="FamilyTime on Twitter"
          target="_blank"> <i class="twitter"></i> </a> <a href="https://www.facebook.com/FamilyTimeApp"
          title="FamilyTime on Facebook" target="_blank"> <i class="facebook"></i></a> <a
          href="https://www.slideshare.net/FamilyTimeApp" title="FamilyTime on Slideshare" target="_blank"> <i
            class="slideshare"></i></a> <a href="https://www.youtube.com/channel/UCwKOiVK6xBRhHaIfeMjYbgA"
          title="FamilyTime on Youtube" target="_blank"> <i class="youtube"></i></a> <a
          href="https://www.instagram.com/familytime_app/" title="FamilyTime on Instagram" target="_blank"> <i
            class="instagram"></i></a></div>
      <div class="rating">
        <!--Rating -->
      </div>
    </div>
    <img alt="" src="img/payment_cards_mobile.png" class="PaymentCardMobile" style="display:none" /> <a
      href="https://play.google.com/store/apps/details?id=io.familytime.dashboard" class="storeBtn"
      style="display:none"><img alt="FamilyTime App on Play Store" src="img/play-store-round.png" width="40" /></a><a
      href="https://apps.apple.com/us/app/id981066103" class="storeBtn" style="display:none"><img
        alt="FamilyTime App on App Store" src="img/app-store-round.png" width="40" /></a>
  </div>
  <ul class="footer_lang" style="visibility:hidden">
    <!-- Lang DropDown -->
  </ul>

  <p class="disclaimer"><img alt="FamilyTime" src="img/familytham-gray.png" width="18" class="m-t-n-xs hidden-md"
      style="margin-bottom:-3px" height="18" /> Copyright © 2022 FamilyTime. All rights reserved.<br />
    <a href="/legal/disclaimer.html" class="text-gray">Disclaimer:</a> FamilyTime promotes ethical parental controls and
    location tracking of children FamilyTime does not take any liability for unethical use of any of its products or
    features in any way whatsoever.
  </p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.3/retina.min.js" async defer></script>
<script async
  defer>$(".sb-close").click(function () { $("#smartbanner").animate({ height: "0px", borderWidth: "0px" }, "slow") }), $("#show-prices").click(function () { $(".show_prices_box").addClass("heighted-box", 1e3, "easeOutBounce"), $("#show-prices").addClass("hide", 1e3, "easeOutBounce"), $("#show-prices2").addClass("show", 1e3, "easeOutBounce") }), $("#show-prices2").click(function () { $(".show_prices_box").removeClass("heighted-box", 1e3, "easeInBack"), $("#show-prices").removeClass("hide", 1e3, "easeInBack"), $("#show-prices2").removeClass("show", 1e3, "easeInBack") }), $(document).ready(function () { $(".hamburger").click(function () { $(".nav-mobile").toggleClass("is-expanded"), $(".menuBag").toggleClass("menuBarRight") }) }), $(document).ready(function () { $(".features").click(function () { $(".main").toggleClass("is-expanded") }) })</script>
<script>jQuery(document).ready(function () { header_height = $(".christmas_offer_main").height(), $(".offer_img").css("padding-top", header_height) })</script>
<script>!function () { "use strict"; for (var t = document.querySelectorAll(".c-hamburger"), i = t.length - 1; i >= 0; i--) { var s = t[i]; !function (t) { t.addEventListener("click", function (t) { t.preventDefault(), this.classList.contains("is-active") === !0 ? this.classList.remove("is-active") : this.classList.add("is-active") }) }(s) } }()</script>
<script>$(".feature-banner.bg-blue").last().addClass("newbg"), $(".content-footer").hide(), $(".listelement").on("click", function () { $(this).children(".content-footer").is(":visible") ? $(".content-footer").slideUp() : ($(".content-footer").slideUp(), $(this).children(".content-footer").slideDown()) })</script>
<script>$(".tabone li").on("click", function () { $(".tabone li.active").removeClass("active"), $(this).addClass("active") }), $(".tabtwo li").on("click", function () { $(".tabtwo li.active").removeClass("active"), $(this).addClass("active") }), $(document).ready(function () { $("#content").css({ "padding-top": $(".nav").height() }) })</script>
<script async defer>
  $(document).ready(function () {

    $('.faq_question').click(function () {

      if ($(this).parent().is('.open')) {
        $(this).closest('.faq').find('.faq-content_container').animate({ 'height': '0' }, 500);
        $(this).closest('.faq').removeClass('open');

      } else {
        var newHeight = $(this).closest('.faq').find('.faq-content').height() + 'px';
        $(this).closest('.faq').find('.faq-content_container').animate({ 'height': newHeight }, 500);
        $(this).closest('.faq').addClass('open');
      }

    });

  });
</script>
<script async defer>
  /* ============================================================
  * retina-replace.min.js v1.0
  * https://github.com/leonsmith/retina-replace-js
  * ============================================================
  * Author: Leon Smith
  * Twitter: @nullUK
  *
  * Licensed under the Apache License, Version 2.0 (the "License");
  * you may not use this file except in compliance with the License.
  * You may obtain a copy of the License at
  *
  * https://www.apache.org/licenses/LICENSE-2.0
  *
  * Unless required by applicable law or agreed to in writing, software
  * distributed under the License is distributed on an "AS IS" BASIS,
  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  * See the License for the specific language governing permissions and
  * limitations under the License.
  * ============================================================ */
  (function (a) {
    var e = function (d, c) { this.options = c; var b = a(d), g = b.is("img"), f = g ? b.attr("src") : b.backgroundImageUrl(), f = this.options.generateUrl(b, f); a("<img/>").attr("src", f).load(function () { g ? b.attr("src", a(this).attr("src")) : b.backgroundImageUrl(a(this).attr("src")); b.attr("data-retina", "complete") }) }; e.prototype = { constructor: e }; a.fn.retinaReplace = function (d) {
      var c; c = void 0 === window.devicePixelRatio ? 1 : window.devicePixelRatio; return 1 >= c ? this : this.each(function () {
        var b = a(this), c = b.data("retinaReplace"),
        f = a.extend({}, a.fn.retinaReplace.defaults, b.data(), "object" == typeof d && d); c || b.data("retinaReplace", c = new e(this, f)); if ("string" == typeof d) c[d]()
      })
    }; a.fn.retinaReplace.defaults = { suffix: "_2x", generateUrl: function (a, c) { var b = c.lastIndexOf("."), e = c.substr(b + 1); return c.substr(0, b) + this.suffix + "." + e } }; a.fn.retinaReplace.Constructor = e; a.fn.backgroundImageUrl = function (d) {
      return d ? this.each(function () { a(this).css("background-image", 'url("' + d + '")') }) : a(this).css("background-image").replace(/url\(|\)|"|'/g,
        "")
    }; a(function () { a("[data-retina='true']").retinaReplace() })
  })(window.jQuery);

  $(document).ready(function () {
    $('#mobile_banner').height($(window).height());
  });


  function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
<script async defer>
  function BackgroundNode({ node, loadedClassName }) {
    let src = node.getAttribute('data-background-image-url');
    let show = (onComplete) => {
      requestAnimationFrame(() => {
        node.style.backgroundImage = `url(${src})`
        node.classList.add(loadedClassName);
        onComplete();
      })
    }

    return {
      node,

      // onComplete is called after the image is done loading.
      load: (onComplete) => {
        let img = new Image();
        img.onload = show(onComplete);
        img.src = src;
      }
    }
  }

  let defaultOptions = {
    selector: '[data-background-image-url]',
    loadedClassName: 'loaded'
  }

  function BackgroundLazyLoader({ selector, loadedClassName } = defaultOptions) {
    let nodes = [].slice.apply(document.querySelectorAll(selector))
      .map(node => new BackgroundNode({ node, loadedClassName }));

    let callback = (entries, observer) => {
      entries.forEach(({ target, isIntersecting }) => {
        if (!isIntersecting) {
          return;
        }

        let obj = nodes.find(it => it.node.isSameNode(target));

        if (obj) {
          obj.load(() => {
            // Unobserve the node:
            observer.unobserve(target);
            // Remove this node from our list:
            nodes = nodes.filter(n => !n.node.isSameNode(target));

            // If there are no remaining unloaded nodes,
            // disconnect the observer since we don't need it anymore.
            if (!nodes.length) {
              observer.disconnect();
            }
          });
        }
      })
    };

    let observer = new IntersectionObserver(callback);
    nodes.forEach(node => observer.observe(node.node));
  };

  BackgroundLazyLoader();
</script>




<script>

  document.addEventListener("DOMContentLoaded", function () {
    let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
    let active = false;

    const lazyLoad = function () {
      if (active === false) {
        active = true;

        setTimeout(function () {
          lazyImages.forEach(function (lazyImage) {
            if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
              lazyImage.src = lazyImage.dataset.src;
              lazyImage.srcset = lazyImage.dataset.srcset;
              lazyImage.classList.remove("lazy");

              lazyImages = lazyImages.filter(function (image) {
                return image !== lazyImage;
              });

              if (lazyImages.length === 0) {
                document.removeEventListener("scroll", lazyLoad);
                window.removeEventListener("resize", lazyLoad);
                window.removeEventListener("orientationchange", lazyLoad);
              }
            }
          });

          active = false;
        }, 200);
      }
    };

    document.addEventListener("scroll", lazyLoad);
    window.addEventListener("resize", lazyLoad);
    window.addEventListener("orientationchange", lazyLoad);
  });

</script>

<script>
  $(document).ready(function () {
    setTimeout(function () {
      var s = document.createElement('script');
      s.id = 'ze-snippet';
      s.src = 'https://static.zdassets.com/ekr/snippet.js?key=0aeeabd3-e06c-4f9d-ad2f-4dab04182db4';
      s.async = true;
      document.getElementsByTagName('head')[0].appendChild(s);
    }, 3000);
  });
</script>

</body>

</html>